
.diseaseBox{
    background: #f8f8f8;
    padding-bottom: 100px;
    /* border: solid 1px rgb(81, 0, 255); */
    /* color: red; */
}

.Grid {
    width: 80%;
    margin: auto;
    margin-top: 30px;
    /* border: solid 1px red; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 15px;
}

.SearchBox{
    width:65%;
}

.Data {
    /* border: solid 1px green; */
    background-color: white;
    padding: 2%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    cursor: pointer;
}



@media screen and (max-width:1100px) {

    .Grid {
        grid-template-columns: repeat(2, 1fr);
        /* padding: 2%; */
    }
    .SearchBox{
        width: 90%;
    }
}


@media screen and (max-width:590px) {

    .Grid {
        grid-template-columns: repeat(1, 1fr);
        /* padding: 2%; */
    }
    .SearchBox{
        width: 90%;
    }
}