.nav{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position:fixed;
    top:0;
    z-index: 1200;
    background:white;
    border-bottom: 1px solid #C6D2D9;
}
.contanier_btn_logo{
   
    display: flex;
    align-items: center;
    width: 21%;
   
    margin-left: 1rem;
    justify-content: space-between;
}
.logo_cont>img{
    width: 90%;
    /* border: 1px solid black; */
}
.logo_cont{
 /* border: 1px solid black; */
 display: flex;
 align-items: center;
 justify-content: center;
}
.contanier_info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 35%;
    margin-right: 1.5rem;
    /* border: 1px solid black; */
}
.vertical_dotted_line
{
    border-left: 1px dotted black;
    height: 30px;
} 
.user{
 border-radius:5px;
 padding: 5px 8px;
 font-size: 15px;
 font-weight: 600;
 color: white;
 background-color: #ff6f61;
 cursor: pointer;
}