.universal{
    width: 100%;
    justify-content: center;
    margin: auto;
    margin-top: 1.5rem;
    border: 1px solid rgb(69, 7, 214);
    display: flex;
    flex-wrap: wrap;
 gap: 20px;
}
.add_product_cont{
    position: relative;
   
    background-color: white;
}
.close_btn{
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    cursor: pointer;
    font-weight: bold;
    border: none;
    background-color: rgb(238, 69, 69);
    color: white;
}
.addform{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    width:25em;
    position: absolute;
    padding: 12px;
    top: 2;
    display: none;
    left: 30%;
    align-items: center;
    z-index: 100;
    /* pointer-events: none; */
    justify-content: center;
    background-color: white;
}
.addformopen{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    width:25em;
    position: absolute;
    padding: 12px;
    top: 2;
    display: flex;
    left: 30%;
    z-index: 100;
    align-items: center;
    /* pointer-events: none; */
    justify-content: center;
    background-color: white;
}
form{
    /* border: 1px solid black; */
    width: 90%;
    margin: auto;
}
.input{
    display: block;
    margin-top: 6px;
    margin-bottom: 8px;
}
.lable{
    font-weight: 600;
    font-family: Open Sans,sans-serif;
    font-size: 14px;
    line-height: 1.25;
    color: #4f585e;
}
.input{
    width: 90%;
    padding: 7px;
}
.input:focus{
    outline-color: blue;
}
.add_product_btn{
    background-color: #ff6f61;
    padding: 0.5rem 3rem;
border-radius: 0.2rem;
    font-size: 16px;
    border:none;
    color: white;
    font-weight: 600;
    cursor: pointer;
}
.universal>div{
    width: 22%;
    /* border: 1px solid rgb(230, 7, 7); */
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.universal>div>div>img{
    width: 100%;
}
.form_add_btn{
    width: 90%;
    padding: 7px;
    cursor: pointer;
    display: block;
    margin: auto;
    margin-top: 11px;
    font-size: 16px;
    border:none;
    color: white;
    font-weight: 600;
    border-radius: 4px;
    background-color: #ff6f61;
}